@import "../../vendor/filament/forms/dist/module.esm.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-login {
    background-image: url("https://getwallpapers.com/wallpaper/full/b/f/6/362559.jpg");
    background-size: cover;
    background-position: left;
}

.bg-register {
    background-image: url("https://getwallpapers.com/wallpaper/full/8/e/9/150258.jpg");
    background-size: cover;
    background-position: left;
}

.bg-general {
    background-image: url("https://getwallpapers.com/wallpaper/full/1/5/f/78754.jpg");
    background-size: cover;
    background-position: left;
}
